*, :before,:after {
  box-sizing: border-box;
  margin: 0;
}

html {
  background: url('https://cbwconline.com/IMG/Codepen/Dark-Grey-Repeating-Background.png');
}

body {
  background: radial-gradient(ellipse at center, rgba(#000, .02) 0%, rgba(#000, .6) 100%);
  height: 100vh;
  overflow: hidden;
  color: #FFF;
  font-family: Roboto;
}

.modal {
  height: 400px;
  width: 650px;
  margin: auto;
  box-shadow: 0 15px 35px rgba(#000, .5);
  position: absolute;
  top: 0; bottom: 0;
  left: 0; right: 0;
  font-size: 0;
}

.side {
  background: linear-gradient(-45deg, #001F60, #009DE0);
  height: 100%;
  width: 100%;
  position: relative;
  .skew {
    background: #F6F6F6;
    height: 110%;
    width: 45%;
    padding: 20px;
    box-shadow: 0 8px 16px rgba(#000, .25);
    position: absolute;
    top: -5%;
    z-index: 5;
    transform: skew(8deg);
    * {
      transform: skew(-8deg);
    }
    h3 {
      color: #474747;
      font:  25px Roboto;
      text-align: center;
    }
    img {
      width: 100%;
      margin: 25px 0;
    }
    .btn {
      background: #474747;
      width: 180px;
      margin: 10px auto;
      padding: 10px 18px;
      font-size: 16px;
      text-align: center;
      border-radius: 3px;
      box-shadow: 0px 3px 10px rgba(#000, .25);
      cursor: default;
    }
  }
}

.header {
  width: 60%;
  position: absolute;
  top: 0;
  right: 0;
  h1 {
    background: linear-gradient(-45deg, #2ed6bc, #01BCE6);
    padding: 10px 25px;
    font: 25px Roboto;
  }
}

.form {
  width: 350px;
  height: 100%;
  position: absolute;
  top: 56px;
  right: 0;
}

input, select, fieldset, button {
  border: none;
  outline: none;
  font: 16px Roboto;
}

fieldset {
  display: block;
}

label {
  display: block;
  color: #01BCE6;
  font: 500 13px Roboto;
}

input, select {
  background: rgba(#FFF, .18);
  padding: 8px 12px;
  margin: 5px 5px 5px 0;
  border-radius: 3px;
  color: #FFF;
  &:nth-last-of-type(1) {
    margin-right: 0;
  }
}

option {
  background: #474747;
}

.number input {
  width: calc(25% - 7px);
}

.name input {
  width: 100%;
}

.exp, .ccv {
  display: inline-block;
}

.exp {
  width: 60%;
  select {
    width: calc(50% - 5px);
  }
}

.ccv {
  width: 40%;
  input {
    width: 100%;
  }
}

button {
  display: block;
  background: linear-gradient(-45deg, #2ed6bc, #01BCE6);
  width: 200px;
  color: white;
  padding: 10px 18px;
  margin: 40px auto;
  font-size: 18px;
  border-radius: 22px;
  box-shadow: 0 5px 10px rgba(#000, .2);
  cursor: pointer;
}// Scss Document

